.itemBox {
  position: relative;
  width: 300px;
  height: 440px;
  background: #fff;
  margin-left: 30px;
  //border: 1px solid #ccc;
}

.itemBox:last-child {
  margin-right: 30px;
}

.itemBoxMark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1px;
  left: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.template_image {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.item_down {
  height: 144px;
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
  }
  .buttonGroup {
    display: flex;
    justify-content: center;
    button:first-child {
      margin-right: 20px;
    }
    button {
      outline: none;
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 5px;
      width: 120px;
      cursor: pointer;
      background: linear-gradient(to bottom, #f5f5f8, white);;
    }
    button:active {
      opacity: .5;
    }
  }
}

.item_up {
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 302px;
  width: 302px;
}