.rowWrapper {
}

.itemBoxRow {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
}

.wrapper_left_right {
  padding-top: 20px;
  background: #f0f2f5;
  padding-bottom: 20px;
  //box-shadow: 0px 1px 5px #cac4c4 inset;
  .left_right {
    display: flex;
  }
}