.dy_index {
  /* padding: 10px; */
  .index_content {
    //padding-left: 20px;
  }
  .index_header {
    padding-top: 42px;
    padding-left: 40px;
    z-index: 2;
    background: #fff;
    margin-bottom: 20px;
    height: 140px;
    border-bottom:1px solid #dcdbdb;

    .h1 {
      //font-size: 20px;
      font-weight: bold;
    }
    .sub_title {
      font-size: 14px;
    }
  }
}