.edit {
  padding-top: 20px;

  .name_image_wrapper {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    img {
      width: 78px;
      height: 78px;
    }
    .name_link_date {
      padding-left: 10px;
      .name {
        font-weight: bold;
      }
    }
  }

  .input_group {
    max-width: 445px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-bottom: 16px;
    .subtitle {
      font-size: 16px;
      padding: 10px;
      font-weight: bold;
    }
    .input {
      padding-right: 50px;
    }
    .radio {
      span {
        font-size: 16px;
      }
    }
  }

  .wrapper_button {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    .finish_btn {
      width: 137px;
      outline: none;
      padding: 5px;
      cursor: pointer;
      background: #ff4600;
      color: #fff;
      border-radius: 10px;
      border: 1px solid #ff4600;

      &:active {
        opacity: .5;
      }
    }
  }
}