.ant-input:focus {
  border-color: #ff4600;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 122, 17, 0.2);
}

.ant-input:hover {
  border-color: #ff4600;
}

.ant-select-selection:hover {
  border-color: #ff4600;
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  border-color: #ff4600;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 122, 17, 0.2);
}

.ant-select-dropdown-menu-item:hover {
  background-color: rgba(255, 122, 17, 0.2);
}

.ant-select-dropdown-menu-item-active {
  background-color: rgba(255, 122, 17, 0.2);
}

