.ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
  font-size: 48px;
  color: #ff4600;
}

.ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: #ff4600;
}
.ant-upload.ant-upload-drag{
  background: transparent;
}