.password {
  .input_group {
    width: 330px;
    margin: 0 auto;
    margin-bottom: 16px;
    .subtitle {
      font-size: 16px;
      padding: 10px;
      font-weight: bold;
    }
    .radio {
      span {
        font-size: 16px;
      }
    }

    .button_input {
      display: flex;
      .input {
        flex: 1;
        padding-right: 10px;
      }
      button {
        background: #ffff;
        color: #ccc;
        border: none;
        outline: none;
        padding: 5px;
        font-size: 14px;
        width: 83px;
        border: 1px solid #eee;
        border-radius: 5px;
        cursor: pointer;

        &:active {
          opacity: .5;
        }
      }

    }
  }

  .wrapper_button {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    .finish_btn {
      width: 137px;
      outline: none;
      padding: 5px;
      cursor: pointer;
      background: #ff4600;
      color: #fff;
      border-radius: 10px;
      border: 1px solid #ff4600;

      &:active {
        opacity: .5;
      }
    }
  }
}