.header {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.title {
  strong {
  }
}

.sub_title {

}

.process {
  flex: 1;
  padding-left: 56px;
  display: flex;
  .process_item {
    padding: 10px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    display: flex;
    .process_badge {
      height: 26px;
      width: 26px;
      background: #cccc;
      color: #fff;
      border-radius: 5px;
      text-align: center;
    }
    .process_item_title {
      padding-left: 24px;
      position: relative;
      width: 100px;
      text-align: center;
    }
  }
}

.process_item[data-active="true"] {
  .process_item_title::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -10px;
    background: url(/static/arrow.png) no-repeat;
    left: 14px;
    background-size: 100%;
  }
  .process_badge {
    background: #ff4600;
  }
}

.right_title {
  color: #ccc;
  font-size: 14px;
  line-height: 44px;
}

@media screen and (max-width: 768px) {
  .process {
    padding-left: 0px !important;
    .process_item_title {
      width: 89px;
    }
  }
  .upload_icon {
    font-size: 100px
  }
}

@media screen and (max-width: 1300px) {
  .header {
    width: 1020px;
  }
}