.Storefront {
  padding-left: 0px;
  padding-right: 20px;
  height: 360px;
  box-sizing: border-box;
}

.card {
  height: 100%;
}

.header {
  display: flex;
  position: relative;
  //margin-bottom: 30px;
}

.header::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff4600;
  left: -18px;
  top: 7px;
}

.header_title {
  font-size: 18px;
  font-weight: bold;
  flex: 1;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  border-radius: 50px;
  border: 1px solid #eee;
  text-align: center;
}

.content {

}

.table_row {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
  list-style-type: none;
  align-items: center;
}

.table_row_item {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 16px;
  height: 54px;
  align-items: center;

  .title {
    padding-right: 10px;
    justify-content: center;
    text-align: center;
  }
  strong {
    justify-items: end;
    font-size: 18;
  }
  .title1 {
    flex: 1;
    text-align: center;
  }

}

.table_row_item1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  font-size: 16px;
  height: 54px;
  text-align: center;
}

.table_row:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
